<template>
        <div class="container">
            <img class="temperature-img" src="../assets/img/temIcon.png"/>
            <div class="temperature-label-container">
                <p class="temperature-label">Temperature: {{temperature}}</p>
                <p class="temperature-label">Humidity: {{humidity}}</p>
            </div>

        </div>
</template>

<script>
    export default {
        name: "TemperatureComponent",

        data:function(){
            return {
                humidity:''
            }
        },
        computed:{
            temperature(){
                return this.$store.state.temp;
            }
        },
        methods:{
            updateTemp:function (newTempVal) {
                this.temperature = newTempVal + " C";
            },
            updateHum:function (newHumVal) {
                this.humidity = newHumVal + " %";
            }
        }
    }

</script>

<style scoped lang="scss">

    $base-img-size: 70px;
    $base-font-size: 12pt;

    .temperature-img {
        width: $base-img-size;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .temperature-label-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .temperature-label {
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: 'Avenir', sans-serif;
        font-size: $base-font-size;
    }

    .container {
        display: table;
        position: relative;
        text-align: center;
        margin: auto;
    }
</style>