<template>
    <div>
        <button
                @click="plsAlert()"
        >Click Me! {{confirm1}}

        </button>
    </div>
</template>

<script>
    export default {
        name: "TestComponent",
        props:[
            'confirm1'
        ],
        methods:{
            plsAlert:function(){
                this.$store.commit("incTemp", 20);
            }
        }
    }
</script>

<style scoped>

</style>