<template>
  <div id="app">
    <img src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <TestComponent confirm1="no"/>
    <ThemperatureComponent/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TestComponent from './components/TestComponent.vue'
import TemperatureComponent from './components/TemperatureComponent.vue'
import store from '@/store'

export default {
  name: 'app',
  store:store,
  components: {
    HelloWorld,
      TestComponent,
      ThemperatureComponent: TemperatureComponent
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
